<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.theverge.mapper.accountsMapper">
	<select id="getResult" resultType="int">
		select count(*) from accounts
		where id=#{id} and password=sha2(#{password},256) and randkey=0;
	</select>

	<insert id="insert">
		insert into accounts(id,password,randkey) values(#{id},sha2(#{password},256),#{randkey})
	</insert>
	
	<select id="getRandkey" resultType="long">
	select randkey from accounts where id=#{id}
	</select>
	
	
	<update id="updateRandkey">
	update accounts set randkey=0 where id=#{id}
	</update>
	
</mapper>